@import url('https://fonts.cdnfonts.com/css/poppins');

// Fonts
$font-size: 16px;
$font-family: 'Poppins', sans-serif;
$font-color-dark: #141210;
$font-color-light: #F8F7FF;
$font-weight: 400;

// Colors
$brand-primary: #B8FB3C;
$brand-light: #F8F7FF;
$brand-dark: #141210;
$brand-background: $brand-dark;

// Hover Colors
$brand-primary-hover: #C2FA59;
$brand-light-hover: #D6D5DB;
$brand-dark-hover: #363434;

// Exercise Group Colors
$abs-color: #EC368D;
$arms-color: #B47AEA;
$back-color: #06BCC1;
$chest-color: #E9FE71;
$legs-color: #FF9B42;
$shoulders-color: #6FD6FE;

// Extra Colors
$extra-color-1: #e7ecae;
$extra-color-2: #213f37;
$extra-color-3: #1baf94;
$extra-color-4: #c7d043;

// Others
$border-radius: 4px;
